
<h3>Javascript form</h3>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input type="text" [control]="form.controls.name" label="What is the name of the officer in question?"></app-input>
    <app-input type="date" [control]="form.controls.date" label="When was the date of the incident?"></app-input>
    <app-input type="text" [control]="form.controls.bribeAmount" label="How much is the bribe that was paid?"></app-input>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    <button class="btn btn-warning" (click)="onResetClick()">Reset</button>
</form>

 
 <div>{{form.valid | json}}</div>